<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aliyun.iot.demo.ipcview">

    <application tools:replace="android:allowBackup"
        android:allowBackup="false"
        >
<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.provider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/provider_paths" />-->
<!--        </provider>-->
        <activity android:name=".activity.NewCardVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.NewEventVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.IPCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.CardVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.EventVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/SettingsTheme" />
        <activity android:name=".activity.EasyPlanSettingsActivity" />
        <activity
            android:name=".activity.PictureTestActivity"
            android:theme="@style/myTheme" />
        <activity android:name=".activity.MultiPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>